.container-form {
  -webkit-appearance: none;
  background-color: #c7c7c7;
  width: 300px;
  height: 200px;
  display: flex;
  border-radius: 5px;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.container-form input {
  padding: 7px;
  margin: 5px;
  display: flex;
  border-radius: 5px;
  text-align: center;
}
.container-form button {
  color: white;
  background-color: rgb(33, 100, 2);
  cursor: pointer;
  padding: 7px;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;

  font-size: 15px;
  border: none;
}

.close-button {
  cursor: pointer;
}
